BasedOnStyle: Chromium

IndentWidth: 2
ContinuationIndentWidth: 4
ColumnLimit: 90

BreakBeforeBraces: Attach
PointerAlignment: Left
ReferenceAlignment: Pointer
DerivePointerAlignment: false

NamespaceIndentation: None
AlignAfterOpenBracket: DontAlign
SortIncludes: false
SeparateDefinitionBlocks: Always

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: All
BreakBinaryOperations: RespectPrecedence

SpaceBeforeParens: ControlStatementsExceptControlMacros

IfMacros:
  - if_as
  - if_is
  - if_eq

Macros:
  - '$A(x,y)=for (auto&& x : y)'
  - '$E(x,y)=for (auto&& x : y)'
  - '$if(x,y)=for (auto&& x : y)'
